[core]
	editor = vim
[user]
	name = Robin Schroer\n
	email = sulamiification@gmail.com
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[alias]
	co = checkout
	br = branch
	cm = commit

