.weechat/weechat.log
.weechat/logs/*
.newsbeuter/cache.db
.newsbeuter/history.*
*.log
*.lock
.vim/.netrwhist
.vim/.init.vim-rplugin~
.nvim/.netrwhist
.mpd/*
.ssh/known_hosts
.vimperator/info
*.pyc
*.spl

