tags
.weechat/weechat.log
.weechat/logs/*
.newsbeuter/cache.db
.newsbeuter/history.*
*.log
*.lock
.vim/.netrwhist
nvim/.init.vim-rplugin~
nvim/.netrwhist
nvim/plugged
.mpd/*
.ssh/known_hosts
.vimperator/info
*.pyc
*.spl
.vim/bundle/*
