[core]
    editor = vim
[user]
    name = Robin Schroer
    email = sulami@peerwire.org
[push]
    default = simple
[credential]
    helper = cache --timeout=86400
[alias]
    st = status
    sh = show
    di = diff
    ds = diff --stat
    dh = diff HEAD --cached
    dhs = diff HEAD --cached --stat
    br = branch
    co = checkout
    cob = checkout -b
    add = add --all
    aa = add --all .
    ap = add --all -p
    cm = commit
    cmm = commit -m
    ca = commit -a
    cam = commit -am
    pom = push origin master --tags
    plm = push local master --tags
    pgm = push gh master --tags
    fe = fetch
    puo = pull origin master
    pul = pull local master
    pug = pull gh master
    l = log --decorate --graph --oneline
    ll = log --decorate --graph --stat
[merge]
    tool = vimdiff
[sendemail]
    smtpencryption = tls
    smtpserver = mail.pawnmail.com
    smtpuser = sulami@peerwire.org
    smtpserverport = 587

