[core]
    editor = vim
[user]
    name = Robin Schroer
    email = sulamiification@gmail.com
[push]
    default = simple
[credential]
    helper = cache --timeout=86400
[alias]
    st = status
    di = diff
    dh = diff HEAD --cached
    br = branch
    co = checkout
    aa = add --all
    ap = add -p
    cm = commit
    cmm = commit -m
    ca = commit -a
    cam = commit -am
    pom = push origin master
    pgm = push gh master
    l = log --decorate --graph --oneline
    ll = log --decorate --graph
[merge]
    tool = vimdiff

