URxvt*.perl-ext-common: default,matcher,-option-popup,-selection-popup,-realline
URxvt*url-launcher: aurora
URxvt*matcher.button: 1
URxvt.depth: 32
URxvt*.scrollBar: false
xRxvt*.loginShell: false
URxvt*.background: [100]#121212
!URxvt*.background: #151516
!URxvt*.transparent: true
!URxvt*.shading: 90
URxvt*.foreground: #C5C8C6
URxvt*.font: xft:Inconsolata for Powerline:size=10
URxvt*cursorUnderline: true
URxvt*.internalBorder: 0
URxvt*.externalBorder: 0

!Black
*color0: #3B3B3B
*color8: #3B3B3B
!Red
*color1: #CF6A4C
*color9: #CF6A4C
!Green
*color2: #99AD6A
*color10: #99AD6A
!Yellow
*color3: #D8AD4C
*color11: #D8AD4C
!Blue
*color4: #597BC5
*color12: #597BC5
!Magenta
*color5: #A037B0
*color13: #A037B0
!Cyan
*color6: #71B9F8
*color14: #71B9F8
!White
*color7: #ADADAD
*color15: #ADADAD
