URxvt*.perl-ext-common: default,matcher,-option-popup,-selection-popup,-realline
URxvt*url-launcher: aurora
URxvt*matcher.button: 1
URxvt.depth: 32
URxvt*.scrollBar: false
URxvt*.loginShell: false
URxvt*.background: [90]#151516
!URxvt*.background: #151516
!URxvt*.transparent: true
!URxvt*.shading: 90
URxvt*.foreground: #F5F5F5
URxvt*.font: xft:Inconsolata for Powerline:size=12
URxvt*cursorUnderline: true
URxvt*.internalBorder: 0
URxvt*.externalBorder: 0

!Black
*color0: #505050
*color8: #505050
!Red
*color1: #AC4142
*color9: #AC4142
!Green
*color2: #90A969
*color10: #90A969
!Yellow
*color3: #F4BF75
*color11: #F4BF75
!Blue
*color4: #6A9FB5
*color12: #6A9FB5
!Magenta
*color5: #AA759F
*color13: #AA759F
!Cyan
*color6: #75B5AA
*color14: #75B5AA
!White
*color7: #F5F5F5
*color15: #F5F5F5
