! urxvt
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 40
URxvt*.scrollBar: false
URxvt*loginShell: false
URxvt*.background: #000000
URxvt*.foreground: #EEEEEE
URxvt*.font: xft:terminus:size=10

!Black
*color0: #333333
*color8: #333333
!Red
*color1: #FF8800
*color9: #FF8800
!Green
*color2: #5BFA7C
*color10: #5BFA7C
!Yellow
*color3: #FF963B
*color11: #FF963B
!Blue
*color4: #005EF7
*color12: #005EF7
!Magenta
*color5: #4C2953
*color13: #4C2953
!Cyan
*color6: #0091FF
*color14: #0091FF
!White
*color7: #EEEEEE
*color15: #EEEEEE
