#/-------------- minute
#|  /----------- hour
#|  |  /-------- day of month
#|  |  |  /----- month
#|  |  |  | /--- day of week
#|  |  |  | | /- command
00 */4 *  * * /home/sulami/dotfiles/mutt/commit.sh

