#/-------------- minute
#|  /----------- hour
#|  |  /-------- day of month
#|  |  |  /----- month
#|  |  |  | /--- day of week
#|  |  |  | | /- command
00  *  *  * * /home/sulami/dotfiles/mutt/commit.sh
*/6 *  *  * * /usr/bin/feed2maildir
*/5 *  *  * * /usr/bin/offlineimap

