[general]
pipePath = /tmp/skippy-xd-fifo
movePointerOnStart = false
movePointerOnSelect = false
movePointerOnRaise = false
includeFrame = true

[highlight]
tint = black
tintOpacity = 0

[tooltip]
show = false

