URxvt*.perl-ext-common: default,matcher,-option-popup,-selection-popup,-realline
URxvt*url-launcher: /usr/bin/firefox
!URxvt*url-launcher: /usr/bin/chromium
URxvt*matcher.button: 1

!URxvt.depth: 32
*.scrollBar: false
*cursorUnderline: false
*.internalBorder: 0
*.externalBorder: 0
*.loginShell: false

!*.font: xft:Terminus:size=9
*.font: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*

!URxvt*.background: #151516
!URxvt*.transparent: true
!URxvt*.shading: 90

