snippet if
	{% if ${1} %}
	    ${2}
	{% endif %}
snippet else
	{% else %}
	    ${1}
snippet for
	{% for ${1} in ${2} %}
	    ${3}
	{% endfor %}
snippet extends
	{% extends ${1:skeleton.html} %}
snippet title
	{% block title %}${1}{% endblock %}
snippet content
	{% block content %}
	    ${1}
	{% endblock %}

